.singlePost{
  
 
    // width:100%;


    .singlePostWrapper{
        padding: 50px 50px;
        width: 100%;
        // background-color: aqua;
        height: 200px;
        justify-content: center;
        margin-left: 50px;


        .singlePostImg{
            width: 60%;
            height: 300px;
            border-radius: 5px;
            object-fit: cover;
        }

        .singlePostTitleInput{
            text-align: center;
            margin: 10px;
            font-size: 28px;
            font-family: "Lora", sans-serif;
           border: none;
            border-bottom: 1px solid lightgrey;
        }
        .singlePostTitleInput:focus{
            outline:none;
          }

        .singlePostDescInput{
            width: 70%;
            border:none;
            margin:10px;
            font-size: 20px;
            font-family: "Lora", sans-serif;
        }

        .singlePostDescInput:focus {
            outline: none;
        }

        .signlePostButton{
            width:60px;
            padding:2px;
            background-color: rgb(211, 201, 197);
            border: none;
            transition-duration: 0.4s;
            border-radius: 8px;
            height: 28px;
            cursor: pointer;
         }
         .signlePostButton:hover{
            background-color: #0a577e;
            color:rgb(188, 205, 219)
          
         }

         .singlePostEdit{
            display: inline;
            margin: 10px;

            .singlePostIconEdit{
                margin-left:50px;
                cursor: pointer;
            }

            .singlePostIconDelete{
                margin-left:750px;
                cursor: pointer;
            }



           
         }

        



    }
}