.singlePost{
    // overflow: hidden;
  
 
    // width:100%;
    overflow-x: hidden;
    // overflow-y: hidden;
  


    .singlePostWrapper{
        padding: 50px 50px;
        width: 90%;
        // background-color: aqua;
        height: 900px;
        justify-content: center;
        margin-left: 50px;

        .singlePostTitleInput{
            // text-align: center;
            // margin-top: 30px;
            font-size: 28px;
            font-family: "Lora", sans-serif;
           border: none;
           width: 30%;
            border-bottom: 1px solid lightgrey;
        }
        .singlePostTitleInput:focus{
            outline:none;
          }


        .singlePostImg{
            width: 60%;
            height: 300px;
            border-radius: 5px;
            object-fit: cover;
        }

        .singlePostTitleInput{
            text-align: center;
            margin: 10px;
            font-size: 28px;
            font-family: "Lora", sans-serif;
           border: none;
            border-bottom: 1px solid lightgrey;

        }






        .singlePostDescInput{
            width: 50%;
            border:none;
            margin:10px;
            font-size: 20px;
            font-family: "Lora", sans-serif;
            resize: none;
            // height: 550px;
            height: 250px;
           
        }

        .singlePostDescInput:focus {
            // outline: none;
        }
        .singlePostDesc{
            line-height: 1.8rem;
            width: 60%;

        }

        .signlePostButton{
            width:60px;
            padding:2px;
            background-color: rgb(211, 201, 197);
            border: none;
            transition-duration: 0.4s;
            border-radius: 8px;
            height: 28px;
            margin-right: 550px;
            cursor: pointer;
         
        
         }
         .signlePostButton:hover{
            background-color: #0a577e;
            color:rgb(188, 205, 219)
          
         }

         .singlePostEdit{
            display: inline;
            margin: 10px;

            .singlePostIconEdit{
                margin-left:50px;
                cursor: pointer;
            }

            .singlePostIconDelete{
                margin-left: 20px;
                cursor: pointer;
            }



           
         }
         .singlePostInfo{
            color: rgb(102, 102, 94);
            margin:10px 10px;
         }



        



    }
}