.navbar{
    display: flex;
    height: 45px;
    font-family: "Varela Round", sans-serif;
    background-color: #0a577e;
    // border-radius: 15px;

    .leftnavbar{
        flex : 6;
        
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
       
       

        .list{
            list-style-type: none;
            display: flex;
            align-items:center;
            margin-left: 350px;
            font-size: larger;

            .item{
                justify-content: baseline;
                margin: 25px;
                cursor: pointer;
                position: relative;
                width: 100%;
                justify-content: center;

              
    

            }
            .item::before{
                // opacity: 1;
                // border-bottom: 5px;
                content:"";
                position: absolute;
                background-color: rgb(24, 124, 206);
                // border-bottom: 2px solid black;
                width:0;
                height: 3px;
                bottom: -10px;
                justify-content: center;
                left: 0;
                transition: 0.5 ease;
           
            }
            .item:hover:before{
                width: 60%;
                justify-content: center;
            }
           
        }
        
        
    }

    .search{
        flex:3;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
       
       
        


        .inputSearch{
            width: 370px;
            border-radius: 15px;
            height: 20px;
           
          
        }

        .Fasearch{
            font-size: 20px;
            color: rgb(46, 44, 44);
            cursor: pointer;
            margin-right: 290px;
            position: absolute;
            margin-top: 2px;
           
         
            
        }

        // .searchTerm {
        //     width:250px;
        //     height:400px;
        //     margin:40px;
        // }
        
    }

    .signin{
        flex:1;
        font-size: larger;
        display: flex;
        margin-top: 10px;
      

        .signItem{
            justify-content: center;
            // align-items: center;
            cursor: pointer;
           
       

        } 

        .topImg {
            width: 50px;
            height: 40px;
            border-radius: 60%;
            object-fit: cover;
            margin-right: 15px;
            cursor: pointer;
            margin: -9px 20px
          }
        
    }


    .logout{
        justify-content: center;
        // align-items: center;
        cursor: pointer;

    }
}